/* global css rules for site */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #829BA9;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.leaflet-container {
  margin: 30px auto;
  height: 640px;
  z-index: 0;
  overflow: hidden;
}

iframe {
  display: block;
  width: 100vw;
  border: 0;
  height: 800px;
}

button {
  position: relative;
  left: 200px;
  color: white;
}

#map {
  height: 100%;
}

* {
  box-sizing: border-box;
  color: #333;
}


.button-onclick {
  background-color: darkcyan;
  font-size: 10px;
  color: white;
  padding: 5px;
  /*margin: 5px;*/
  left: 195px;
  top: 315px;
  position: absolute;
}

.button-onclick2 {
  /*background-color: darkcyan;*/
  font-size: 10px;
  color: white;
  padding: 5px;
  /*margin: 5px;*/
  /*margin-left: 200px;*/
  /*margin-top: 30px;*/
  position: relative;
  bottom: 175px;
  left: 20px;
}

/* Tab Navigation */
ul.nav {
  margin: 20px;
  width: calc(100vw * 0.6);
  /*margin: 0 auto 2rem;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  ul.nav {
    width: 90%;
  }
}

ul.nav li {
  /*font-size: 1rem;*/
  width: 50%;
  /*padding: 1rem;*/
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  padding-top: 20px;
  font-weight: bold;
  color: white;
}

ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}

ul.nav li.active {
  background: #39A2DB;
}

/* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
}


.tab-icon {
  width: 30px;
  height: 30px;
  position: relative;
  left: 150px;
  bottom: 28px;
  margin-right: 8px;
}


/* Tab Navigation End*/


.logo {
  position: absolute;
  top: 30px;
  left: 20px;
}

.user-image{
  position: absolute;
  top: 30px;
  right: 120px;
}

.contact {
  position: absolute;
  bottom: 120px;
  left: 60px;
  color: white;
  text-decoration: underline;
  font-size: 30px;
  align-items: center;
}

.contact img {
    margin-right: 10px;
}

.feedback {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: white;
  text-decoration: underline;
  font-size: 30px;
}

.routing{
  position: relative;
  top: 100px;
  right: 20px;
}

.datetimepicker{
  position: relative;
  top: 100px;
  right: 20px;
}

.logo-phone{
  position: absolute;
  bottom: 120px;
  left: 5px;
}

.logo-feedback{
  position: absolute;
  bottom: 85px;
  left: 10px;
}

.logo-journey{
  position: absolute;
  top: 168px;
  left: 30px;
}

.journey {
  position: absolute;
  top: 180px;
  left: 70px;
  color: white;
  font-size: 20px;
  align-items: center;
}



/*container*/
.container{
   display:flex;
}

.item-right{
   flex:4;
}

.item-left{
   flex:1;
}
/*container*/