/* global css rules for site */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, p, body, ul, li, a, header, nav, footer, div, article, source, video, figure, html, main, body {
    margin: 0;
    padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #829BA9;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*iframe {*/
/*  display: block;*/
/*  width: 100vw;*/
/*  border: 0;*/
/*  height: 800px;*/
/*}*/

* {
  box-sizing: border-box;
  color: #333;
}

/* Tab Navigation */
ul.nav {
  margin: 20px;
  width: calc(100vw * 0.6);
  /*margin: 0 auto 2rem;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  ul.nav {
    width: 90%;
  }
}

ul.nav li {
  /*font-size: 1rem;*/
  width: 50%;
  /*padding: 1rem;*/
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  padding-top: 20px;
  font-weight: bold;
  color: white;
}

ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}

ul.nav li.active {
  background: #39A2DB;
}

/* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
}


.tab-icon {
  width: 30px;
  height: 30px;
  position: relative;
  left: 150px;
  bottom: 28px;
  margin-right: 8px;
}


/* Tab Navigation End*/


.logo {
  position: absolute;
  top: 30px;
  left: 20px;
}

/*.user-image{*/
/*  position: absolute;*/
/*  top: 30px;*/
/*  right: 120px;*/
/*}*/

.contact {
  position: absolute;
  bottom: 120px;
  left: 60px;
  color: white;
  text-decoration: underline;
  font-size: 30px;
  align-items: center;
}

.contact img {
    margin-right: 10px;
}

.feedback {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: white;
  text-decoration: underline;
  font-size: 30px;
}

.routing{
  position: relative;
  top: 100px;
  right: 20px;
}

.logo-phone{
  position: absolute;
  bottom: 120px;
  left: 5px;
}

.logo-feedback{
  position: absolute;
  bottom: 85px;
  left: 10px;
}

.weather-icon {
  position: absolute;
  top: 25px;
  right: 200px;
}



/*container*/
/*.container{*/
/*   display:flex;*/
/*}*/

/*.item-right{*/
/*   flex:4;*/
/*}*/

/*.item-left{*/
/*   flex:1;*/
/*}*/
/*container*/

/*MM*/

#sidebar_map {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#closed_btn_icons {
  height: 100%;
  padding: 0 8px 8px 8px;
}

#closed_icons {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

#closed_icons {
}

#closed_top_icons > svg {
  margin: 0 5px 10px 5px;
}

#closed_bottom_icons > svg {
  margin: 0 5px 10px 5px;
}

#map {
  height: 100vh;
  width: 95vw;
}

.leaflet-container {
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

#open_menu {
  display: flex;
  justify-content: flex-end;
}

#journey_title {
  display: flex;
  align-content: center;
  color: #394B56;
}

.search_form {
   margin: 0 0 10px 2px;
}

.search_input {
  border-radius: 5px;
  padding: 5px;
}

.search_form > ul {
  position: absolute;
  z-index: 99;
}

.search_form > ul > li {
  background-color: rgba(57,75,86,255);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 2px 2px 4px;
  margin: 1px;
}

#start_journey {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

#date_picker {
  border-radius: 5px;
  padding: 5px;
}

#routing_button {
  background-color: rgba(57,75,86,255);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

